@font-face {
    font-family: relogio;
    src: url('/font/DS-DIGI.TTF');
}
body{
    background-image: url(../img/download.jpg);
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.central{
    width: 600px;
    background-color: rgba(240, 248, 255, 0.103);
    backdrop-filter: blur(5px);
    padding: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.central div{
    background-color: black;
    color: rgb(199, 0, 0);
    height: 300px;
    width: 200px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.central span{
    font-size: 100px;
    font-family: relogio;
}